<%- include('partials/header.ejs'); -%>
<%- include('partials/navbar.ejs'); -%>

	<div class="gallery">
		<% furnitureList.map((item, index) => { %>
			<div class="item item<%=index + 1%>">
				<img class="item__img" src="<%= item.image %>" alt="<%= item.name %>"/>
				<div class="item__overlay" onclick="toggleForm(); showItem(<%= index %>);">
					<div>
						<p><%= item.name %></p>
					</div>
				</div>
			</div>
		<% }) %>
	</div>

	<!-- Pop Up Form -->
	<div class="form_overlay" style="display: none;">
		<div class="form_container">
			<form class="form" id="item__form" action="/add" method="POST">
				<img id="item__img" src="" alt=""/>
				<div class="form__content">
					<img src="/assets/icons/close.svg" alt="close-btn" class="close_btn"  onclick="toggleForm()" />	
					<h4 id="item__name"></h4>
					<img src="/assets/icons/close.svg" alt="close-btn" class="close_btn"  onclick="toggleForm()" />
					<h4 id="item__name"></h4>
					<p id="item__description"></p>
					<!-- hidden inputs -->
					<input type="text" name="name" id="input__name" value="" hidden>
					<input type="text" name="description" id="input__description" value="" hidden>
					<input type="text" name="image" id="input__img" value="" hidden>
					<!-- end of hidden inputs -->
					<form class="edit" action="/edit" method="post">
						<div id="saveMode">
							<textarea name="updatedNote" id="updated__notes" value="" autocomplete="off" autofocus="true" placeholder="Add some notes here..."></textarea>
							<button type="button" class="submit_btn" onclick="handler()">Save</button>
						</div>
					</form>	
					<!-- <textarea name="notes" id="item__notes" placeholder="Add some notes here..."></textarea> -->
					<div class="select_area">
						<select id="item__category" name="category" required>
							<option value="living" selected>Living Space</option>
							<option value="bedroom">Bedroom Space</option>
							<option value="kitchen">Kitchen Space</option>
						</select>
						<button class="submit_btn" type="submit">ADD</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script>
		const furnitureList = <%- JSON.stringify(furnitureList) %>;

		// Show Furniture Data
		function showItem(index) {
			const item = furnitureList[index];
			
			const form = document.getElementById('item__form');
			form.querySelector('#item__img').src = item.image;
			form.querySelector('#item__img').alt = item.name;
			form.querySelector('#item__name').textContent = item.name;
			form.querySelector('#item__description').textContent = item.description;

			form.querySelector('#input__img').value = item.image;
			form.querySelector('#input__name').value = item.name;
			form.querySelector('#input__description').value = item.description;

			form.querySelector('#item__notes').value = ''; // clears previous notes
			form.querySelector('#item__category').value = 'living'; // default category
		}

		// Pop Up Form
		function toggleForm() {
			console.log("toggle")
			const formContainer = document.querySelector(`.form_overlay`);
			formContainer.style.display = formContainer.style.display === 'none' ? 'flex' : 'none';
		}

		// Edit and save notes
		function handler() {
			const updatedNote = document.getElementById('updated__notes').value;
			document.getElementById('item__notes').value = updatedNote;
			toggleEditMode();
		}

	</script>
<%- include('partials/footer.ejs'); -%>
    
